input {
  text-align: right !important;
  color: #f5f5f5 !important;
  background: #212121!!important;
}

body {
  color: #f5f5f5 !important;
  background: #333!!important;
}

input,
html {
  direction: rtl !important;
}

.icon {
  margin: 10px !important;
  cursor: pointer;
}

.left.icon {
  margin-bottom: 50px !important;
}

.ui.green.button {
  margin: 20px 0px;
}

.table-div {
  overflow-x: scroll !important;
}

.container {
  max-width: 100%;
}

.actions-cell {
  display: flex;
}

div > span {
  font-weight: bold;
  margin: 25px 0px;
}

.container {
  max-width: 100% !important;
}

.content {
  overflow-x: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
